.gradient-text {
            font-weight: bold;
            text-align: center;
            font-size: 2em;
            background: linear-gradient(90deg, #ff69b4, #ffb6c1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
            display: block;
            margin-top: 40px;
        }
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
